<!DOCTYPE html>
<html>
<head>
	<title>Shorten URL</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
	<link href="http://getbootstrap.com/docs/4.0/examples/cover/cover.css" rel="stylesheet">
</head>
<body style='background-color: #4a71a3;'>
		
	


    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <main role="main" class="inner cover">            

          	{% block content %}

            
            {% endblock content %}
          </main>

          <footer class="mastfoot">
            <div class="inner">
              <p>Shorten URL by <a href="https://twitter.com/pagnn">@pagnn</a>.</p>
            </div>
          </footer>
        </div>

      </div>

    </div>
</body>
</html>